[
  {
    "id" : 1,
    "isbn" : "IS908234-SADSD",
    "description" : "This book shows how to create a RAML API",
    "title" : "My First RAML API",
    "authorId" : 0,
    "genre" : "GUIDE"
  },
  {
    "id" : 99,
    "isbn" : "ISPOAS23-ASDI3",
    "description" : "Shows which are the practices when creating a REST API",
    "title" : "REST API Design",
    "authorId" : 0,
    "genre" : "GUIDE"
  }
]